.gitignore

0520F103ZeTmplUsart1InterruptRxTxPrint/
0520F103ZeTmplUsart1InterruptRxTxPrint/USER/My103ZeTemplate.uvguix.Haiou
0520F103ZeTmplUsart1InterruptRxTxPrint/USER/My103ZeTemplate.uvoptx

0730_iic硬件iic软件读取8b和15bAddrE2p读取AHT10温湿度/
0812_SPI硬件读写W25Q128扇区读写整型数据存储/
0922_OLED096中文英文字模显示硬件I2C/
0922_OLED096中文英文字模显示硬件I2C/
240524_ssd1306驱动/

240604_TB6600两相驱动42步1.8步距/
240601_FreeRtosOledPrj_demo/
240601_STD_ssd1306_demo/
240601_StdFreeRtosOledPrj_demo/
240607_StdOsPrj_keyBtn/
240612_StdOsOledBtn_定时器输出比较翻转模式_TB6600两相42步_启动频率空载频率/
240625_StdOsOledBtn_LCD_ST7796_4SPI_copy2.zip
240625_StdOsOledBtn_LCD_ST7796_4SPI_copy2/
240625_StdOsOledBtn_LCD_ST7796_4SPI硬件驱动/

240712_StdOsOledBtn_LCD_ST7796_F103VET6_/
240728_StdOsOledBtn_flash片内读写/
240801_StdOsOledBtn_simpleFoc/




Flash编程/



#忽略所有编译过程产生的文件
#中间文件
*.o
#链接阶段文件
*.axf
*.elf
#最终文件
*.hex
*.bin
#交叉引用文件\列表文件\映射文件\依赖文件
*.crf
*.lst
*.map
*.dep
*.d
#其他文件
*.bak
*.ddk
*.edk
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.tra
JLinkLog.txt
*.iex
*.htm
*.sct
#keil 工程相关
#uvprojx 文件就是我们平时双击打开的工程文件，它记录了整个工程的结构，如芯片类型、工程包含了哪些源文件等内容
#*.uvprojx 要跟踪,删除无法打开
#uvoptx 文件记录了工程的配置选项，如下载器的类型、变量跟踪配置、断点位置以及当前已打开的文件等等；
#*.uvoptx 要跟踪,非必须
#uvguix 文件记录了MDK软件的GUI布局，如代码编辑区窗口的大小、编译输出提示窗口的位置等等。
*.uvguix.Haiou
*.Haiou
My103Template.uvguix.Haiou

240612_StdOsOledBtn_temp/USER/My103Template.uvguix.Haiou
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/任务与资源分配情况.TXT
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/keilkilll.bat
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/README.TXT
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/.vscode/c_cpp_properties.json
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/.vscode/settings.json
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/CORE_CM3.C
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/CORE_CM3.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/startup_stm32f10x_cl.s
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/startup_stm32f10x_hd_vl.s
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/startup_stm32f10x_hd.s
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/startup_stm32f10x_ld_vl.s
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/startup_stm32f10x_ld.s
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/startup_stm32f10x_md_vl.s
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/startup_stm32f10x_md.s
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/CORE/startup_stm32f10x_xl.s
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/MISC.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_adc.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_bkp.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_can.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_cec.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_crc.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_dac.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_dbgmcu.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_dma.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_exti.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_flash.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_fsmc.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_gpio.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_i2c.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_iwdg.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_pwr.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_rcc.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_rtc.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_sdio.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_spi.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_tim.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_usart.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INC/stm32f10x_wwdg.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/ALLOCA.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/ARM_NEON.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/ARMDSP.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/ASSERT.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/C55X.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/COMPLEX.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/CTYPE.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/deque_spec.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/DSPFNS.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/ERRNO.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/FENV.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/FLOAT.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/INTTYPES.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/ISO646.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/LIMITS.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/list_spec.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/LOCALE.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/MATH.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/RT_FP.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/RT_HEAP.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/rt_locale.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/RT_MISC.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/RT_SYS.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/SETJMP.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/SIGNAL.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/STDARG.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/STDBOOL.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/STDDEF.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/STDINT.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/STDIO.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/STDLIB.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/STRING.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/TGMATH.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/TIME.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/vector_spec.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/WCHAR.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/INCLUDE/WCTYPE.H
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/MISC.C
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_adc.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_bkp.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_can.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_cec.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_crc.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_dac.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_dbgmcu.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_dma.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_exti.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_flash.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_fsmc.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_gpio.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_i2c.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_iwdg.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_pwr.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_rcc.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_rtc.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_sdio.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_spi.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_tim.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_usart.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FWLIB/SRC/stm32f10x_wwdg.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/croutine.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/event_groups.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/FreeRTOSConfig.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/list.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/queue.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/readme.txt
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/tasks.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/timers.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/croutine.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/deprecated_definitions.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/event_groups.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/FreeRTOS.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/list.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/mpu_prototypes.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/mpu_wrappers.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/portable.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/projdefs.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/queue.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/semphr.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/StackMacros.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/stdint.readme
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/task.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/include/timers.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/readme.txt
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/Keil/See-also-the-RVDS-directory.txt
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/MemMang/heap_1.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/MemMang/heap_2.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/MemMang/heap_3.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/MemMang/heap_4.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/MemMang/heap_5.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/MemMang/ReadMe.url
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/RVDS/ARM_CM3/port.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/FreeRTOS/portable/RVDS/ARM_CM3/portmacro.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/i2c/i2c.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/i2c/i2c.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/key/key_app.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/key/key_app.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/key/key_button.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/key/key_button.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/key/key.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/key/key.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/led/led.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/led/led.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/oled/font.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/oled/font.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/oled/ssd1306.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/oled/ssd1306.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/print/print.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/print/print.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/spi/spi.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/spi/spi.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/st7796/lcd_font.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/st7796/pic.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/st7796/st7796_app.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/st7796/st7796_app.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/st7796/st7796_ins.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/st7796/st7796_series.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/st7796/st7796.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/st7796/st7796.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/usart/usart_app.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/usart/usart_app.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/usart/usart.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/HARDWARE/usart/usart.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/EventRecorderStub.scvd
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/JLinkSettings.ini
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/MAIN.C
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/My103Template.uvoptx
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/My103Template.uvprojx
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/README.TXT
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/stm32f10x_conf.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/stm32f10x_it.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/stm32f10x_it.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/stm32f10x.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/system_stm32f10x.c
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/system_stm32f10x.h
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/DebugConfig/Template_STM32F103C8_1.0.0.dbgconf
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/DebugConfig/Template_STM32F103VE_1.0.0.dbgconf
240712_StdOsOledBtn_LCD_ST7796_F103VET6_/USER/DebugConfig/Template_STM32F103ZE_1.0.0.dbgconf
.gitignore
240728_StdOsOledBtn_flash片内读写/debug.log
240813_StdOsOledBtn_LCD_ST7796_F103VET6_FSMC驱动LCD并口16位/debug.log
